// Colors =========================================
$color-white: #FFFFFF;
$color-black: #000000;
$color-grey-dark: #777777;
$color-grey-light: #AFAFAF;


$color-blue-dark: #273f5b;

$one-half: percentage(1/2);
$one-third: percentage(1/3);
$one-fourth: percentage(1/4);
$one-fifth: percentage(1/5);
$one-sixth: percentage(1/6);
$one-seventh: percentage(1/7);
$one-eight: percentage(1/8);
$one-ninth: percentage(1/9);
$one-tenth: percentage(1/10);